*{
    margin:0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*HEADER*/
header{
    background: #1f2937;
    display: flex;
    padding: 0 10em 0 10em;
    justify-content: space-between;
    align-items: center;
    
}
header a{
    text-decoration: none;
    color:#e5e7eb;
    
    font-size: 1.2em;

}

header div{
    flex: auto;
    display: flex;
    justify-content: space-between;
}

header p {
    font-size: 34px;
    color: #f9faf8 ;
    flex: auto;
    font-weight: 900;
}

/*BODY FIRST DIV*/
.first img{
    flex:0 0 auto;
    float:right;
}

.first{
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 10em 5em 10em;
}

.first .description{
    flex: auto;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first div p{
    color: #e5e7eb;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 5em;
    margin-top: 1em;

}

.first button{
    padding: 0.5em;
    font-size: 18px;
    margin-top: 1.5em;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    border-width: 3px;
    font-weight: 600;
}
/*BODY SECOND DIV*/

.second{
    background-color:#e5e7eb;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.second h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    font-size: 36px;
    color: #1f2937;
}

.second img{
    border: 4px solid #3882F6;
    border-radius: 10%;
    flex:auto;
}

.firstcontainer{
    margin-left: 13em;
}

.fourthcontainer{
    margin-right: 13em;
}

.second p{
    margin-bottom: 8em;
}


/*BODY THIRD DIV*/

.third{
    background-color:#acacac;
    text-align: center;
}

.third .quote{
    font-size: 36px;
    padding: 4em 8em 0 8em;
    font-style: italic;
}

.third .author{
    font-weight: 900;   
    font-size: 30px;
    padding: 0 8em 4em 8em;
    text-align: right;
}

/*BODY FOURTH DIV*/
.fourth{
    padding: 6em 8em 6em 8em;

}

.content{
    display: flex;
    justify-content: space-between;

}


.fourth .content {
    background-color: #3882F6;
    padding: 2em;
    margin: 4em;
    border-radius: 10px;
    color:#e5e7eb;

}

.fourth h3{
    font-size: 30px;
}

.fourth button{
    padding: 0.5em;
    font-size: 18px;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    border-width: 3px;
    font-weight: 600;
    border-color: #e5e7eb;
    width: 120px;
    height: 40px;
}



/*FOOTER*/
footer{
    background: #1f2937;
    color: #f9faf8;
    position: sticky;
    text-align: center;
    padding: 2em;
}